:root{
    --desktop-view: 1440px;
    --mobile-view: 375px;
}

@media(max-width: 500px){
    .nav__menu{
        display: none;
    }
    .nav__toggle{
        display: block;
    }
    .footer__links .flex{
        flex-direction: column;
    }
    .flex.friends{
        /* margin-top: 1em; */
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .flex.box{
        flex-direction: column;
    }

    .flex.box li{
        margin-top: 1em;
    }
    .nav__list {
        flex-direction: column;
        color: white;
        font-size: 1.5em;
        position: relative;
        top: -15em;
    }
    .nav__list>li:nth-child(4)>a{
        background-color: transparent;
    }
    
    .nav__exit {
        display: block;
        position: relative;
        top: -3.5em;
        right: -3em;

    }
    .hero__wrapper{
        display: grid;
    }
    .hero__description {
        order: 1;
    }
    .hero__wrapper::after {
        background-color: var(--soft-blue);
        z-index: -1;
        right:-60%;
        top: 0;
        bottom: auto;
        height: 14em;
        /* transform: translateY(100%); */
        border-radius: 10em;
        position: absolute;
        transform: translateY(-220%);
    }
}


@media(max-width: 1000px){
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 3em;
    }
    .grid-3{
        gap: 2em;
    }
    .download__card:nth-child(2){
        margin-top: 0;
    }
    .download__card:nth-child(3){
        margin-top: 0;
    }

    .hero__wrapper::after, .feature__wrapper::after{
       
        background-color: var(--soft-blue);
        z-index: -1;
        right:-60%;
        top: auto;
        bottom: 0;
        height: 14em;
        /* transform: translateY(100%); */
        border-radius: 10em;
    }

    .feature__wrapper::after{
        z-index: -1;
        top: 10em;
        bottom: auto;
    }


}